.card_conatiner{

    width: 50%;
    height: 20%;
    margin-left: 5%;
}
.paginator{
    margin-left: 10%;
    width: 80%;

   
}

.cardd :hover{
border-style: solid;
border-width: 1px;
border-color: #120878;}
