<div class="container  " style="background-color: rgb(255, 255, 255); height: 500px; width: max-content;">

    <div class="row mt-5">
        <div class="col-6">
          <h1 style="font-size: 3rem;">
            About US
          </h1>
          <p style="font-size: 1.5rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis ipsa architecto illum tempore impedit similique dicta, facere reiciendis velit consequatur quae reprehenderit earum omnis ea perferendis! Aut, alias obcaecati.</p>
        </div>

        <div class="col-6 photo-container">
            <div class="row">
                <img class="photo photo1" src="../../../assets/img7.svg" alt="Photo 1">
            </div>
            <div class="row">
                <img class="photo photo2" src="../../../assets/img6.svg" alt="Photo 2"> 
            </div>
            <div class="row">
                <img class="photo photo3" src="../../../assets/img8.svg" alt="Photo 3">
            </div>
         
        </div>
      </div>

</div>