
  
  .photo {
 
    width: max-content;
    height: 150px;
    border-radius: 50%;
    background-color: beige;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  .photo1 {
   margin-left: 30%;
   animation-timing-function: ease-in-out;
  
  }
  
  .photo2 {
    margin-left: 50%;
    animation-timing-function: linear;
  }
  
  .photo3 {
    margin-left: 20%;
    animation-timing-function: ease-in-out;
    margin-bottom: 5%;
  }
/* 
  @keyframes move {
    0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(-150px, 50px);
      }
      50% {
        transform: translate(-300px, 0);
      }
      75% {
        transform: translate(-150px, -50px);
      }
      100% {
        transform: translate(0, 0);
      }
  } */