.pointer{
  cursor: pointer;
}
button{
  background-color: #120878;
  color: aliceblue;

}

button:hover {
  background-color: #69bcc7;
}
.imgg{
  width: 95%;
  height: 500px;
}
.btn{
  /* background-color:  #152B40; */
  background-color: white;
  color: black;
}
.btn:hover {
   /* background-color: #0d6efd; */
    background-color: #1352b1c4 ; /* Change to your desired hover background color */
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Add your desired box shadow */
 }
 .back{
  background-color: rgb(194, 192, 192);
 }

 .maincard
{
  border: 0;
  border-style: none;
}


